{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
</head>
<body>
    <div class="bg-container"></div> <!-- Blurred Background -->
    
    <div class="header-bar">
        <div class="header-left">
            <img src="{% static 'images/logos.jpg' %}" alt="Logo" class="logo">
            <h1>Welcome to Shopify</h1>
        </div>
        
        <div class="header-right">
            <a href="{% url 'cart_page' %}">🛒 Go to Cart</a>
            <a href="{% url 'order_summary' %}">📦 Orders</a>

            {% if user.is_authenticated %}
                <p>Welcome, {{ user.username }} |</p>
                <form method="post" action="{% url 'logout' %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" style="border:none; background:none; color:rgb(245, 245, 248); cursor:pointer;">Logout</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}">Login</a> | <a href="{% url 'register' %}">Register</a>
            {% endif %}
        </div>
    </div>

    <div class="container">
        <div class="category">
            <a href="{% url 'category_page' 'men' %}" style="color: black;">
                <img src="{% static 'images/mens_category.jpg' %}" alt="Men's Collection">
                <h2 style="color: black;">Men's Collection</h2>
            </a>
        </div>
    
        <div class="category">
            <a href="{% url 'category_page' 'women' %}" style="color: black;">
                <img src="{% static 'images/women_categoryy.jpg' %}" alt="Women's Collection">
                <h2 style="color: black;"> Women's Collection </h2>
            </a>
        </div>
    
        <div class="category">
            <a href="{% url 'category_page' 'kids' %}" style="color: black;">
                <img src="{% static 'images/kids_categoryy.jpg' %}" alt="Kids' Collection">
                <h2 style="color: black;">Kids' Collection</h2>
            </a>
        </div>

        {% if is_admin %}
           <h2><a href="{% url 'add_product' %}" style="color: black;"> Add a New Product</a></h2>
           <h2><a href="{% url 'delete_product_page' %}" style="color: black;"> Delete a Product</a></h2>
        {% endif %}
    </div>
    

</body>
</html>
